---
import Navbar from '../components/Navbar.astro';
import PwaComponent from '../components/PwaComponent.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
    <link rel="apple-touch-icon" href="/icons/icon192.webp">
		<meta name="generator" content={Astro.generator} />
		<title>Gimpaco</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <PwaComponent />

    <style>
      body.unverified {
        display: none;
      }
    </style>
	</head>
	<body class="unverified">
    <!-- La Navbar solo se muestra si la página no es la de login -->
    {Astro.url.pathname !== '/loginPage' && <Navbar />}
		<slot />

    <script>
      import { onAuthStateChanged } from "firebase/auth";
      import { auth } from "../firebase/config";

      const currentPath = window.location.pathname;
      const isAuthPage = currentPath === '/loginPage';

    //   DEJAMOS ESTO COMENTADO PARA FACILITAR EL PROCESO DE PRUEBAS
    // const unsubscribe = onAuthStateChanged(auth, (user) => {
    //     if (user) {
    //       // USUARIO AUTENTICADO:
    //         if (isAuthPage) {
    //         window.location.href = '/';
    //       }
    //     } else {
    //       // USUARIO NO AUTENTICADO:
    //       if (!isAuthPage) {
    //         window.location.href = '/loginPage';
    //       }
    //     }

    //     // Una vez que tenemos el estado de autenticación, mostramos el contenido de la página.
        document.body.classList.remove('unverified');
        
    //     // Cancelamos la suscripción para que esta lógica solo se ejecute una vez por carga de página.
    //     unsubscribe();
        
    //   });
    </script>
	</body>
</html>
